node_modules
**/node_modules
.pnpm-store
**/.pnpm-store

.next
**/.next
dist
**/dist
build
**/build
.turbo
**/.turbo
coverage
**/coverage
generated
**/generated

.git
.github
.vscode
.idea

.env
.env.*.local
!.env.example

*.log
npm-debug.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

.minio-data
.postgres-data
.redis-data

# Docs e arquivos de processo
.planning
*.md
!packages/database/prisma/migrations/**/*.md
